@use "./color.scss" as *;

$background: $base-3;
$layer: $base-2;

$on-bg-primary: $base-00;
$on-bg-secondary: $base-1;

$on-layer-primary: $base-01;
$on-layer-secondary: $base-0;

$interactive: $magenta;
